.photo-grid__list {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
grid-gap: 15px;
list-style-type: none;
padding: 0;
margin: 0;
}


@media (max-width: 440px) {
    .photo-grid__list {
        grid-gap: 12px;
    }
}
