.places {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 80px;
  margin: 0;
  padding: 0 0 94px;
}

@media screen and (max-width: 984px) {
  .places {
    row-gap: 72px;
    padding-bottom: 92px;
  }
}

@media screen and (max-width: 440px) {
  .places {
    padding-bottom: 32px;
    row-gap: 28px;
  }
}