.intro__list {
    list-style: none;
    flex-direction: column;
    display: flex;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}


@media screen and (max-width: 1140px) {
    .intro__list {
        width: calc(100% - 48px);
    }

}

@media screen and (max-width: 984px) {
    .intro__list {
        width: calc(100% - 48px);
        padding-left: 24px;
        padding-right: 24px;
    }

}

@media screen and (max-width: 440px) {
    .intro__list {
        width: calc(100% - 32px);
        padding-left: 16px;
        padding-right: 16px;
    }
}
