@import url(./__logo/header__logo.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__link-item/header__link-item.css);
@import url(./__lang-link/_active/header__lang-link_active.css);

.header {
  max-width: 1280px;
  width: calc(100% - 96px);
  align-self: center;
  display: flex;
  padding: 28px 0 0;
  margin: 0;
  justify-content: space-between;
}


@media screen and (max-width: 984px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 689px) {
  .header {
    padding-top: 16px;
    width: calc(100% - 32px);
  }
}