.place__text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 440px) {
    .place__text-container {
        padding-left: 16px;
        padding-right: 16px;
        width: calc(100% - 32px);
    }
}