.place__paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 24px;
    color: #FFFFFF;

}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1140px) {


}

@media screen and (max-width: 984px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
        margin-right: 16px;
    }

}

@media screen and (max-width: 689px) {
    .place__paragraph {
    margin-left: 16px;
    }
}

@media screen and (max-width: 440px) {

