@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-span-accent/intro__list-span-accent.css);

.intro {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 984px;
    width: 100%;
}

@media screen and (max-width: 1140px) {
    .intro {
        max-width: 928px;
    }
}