.place__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  padding-bottom: 4px;
  margin: 0;
}

.place__link:hover {
  opacity: 0.8;
  transition: 0.5s;
}