.cover__title {
  max-width: 560px;
  z-index: 2;
  margin: 0;
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 689px) {
  .cover__title {
    font-size: 48px;
    line-height: 52px;
    width: 348px;
  }
}

@media screen and (max-width: 440px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin: 33px 16px 16px;
    width: 248px;
  }
}