@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__title/place__title.css);
@import url(./__text-container/place__text-container.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__link/place__link.css);
@import url(./__image/place__image.css);

.place {
    max-width: 984px;
    justify-self: center;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-areas:
    "place__title  place__website"
    "place__image place__text-container";
    row-gap: 48px;
    column-gap: 4%;
}

@media screen and (max-width: 1140px) {
    .place {
        max-width: 928px;
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 984px) {
    .place {
        grid-template-columns: 340px 1fr;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 689px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-areas:
        "place__title"
        "place__website"
        "place__image" 
        "place__text-container";
        row-gap: 32px;
    }
}

@media screen and (max-width: 440px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-areas:
        "place__title"
        "place__website"
        "place__image" 
        "place__text-container";
        row-gap: 32px;
    }

}