@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__navigation/footer__navigation.css);
@import url(./__link-holder/footer__link-holder.css);

.footer {
  align-self: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 92px 0 24px;
  max-width: 1184px;
  width: calc(100% - 96px);
}

@media screen and (max-width: 984px) {
  .footer {
    width: calc(100% - 48px);
  }
}


@media screen and (max-width: 689px) {
  .footer {
    padding-left: 16px;
    padding-bottom: 24px;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 68px;
    width: calc(100% - 16px);
  }
}