.place__website {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    min-width: 320px;
    margin: 0;
}

@media screen and (max-width: 440px) {
    .place__website {
        display: none;
    }
}